{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section id="login-section" class="margin-header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2 text-center">
        <h2>{% trans "Log In" %}</h2>
        <p>{% blocktrans %}Welcome to Mama's Kitchen. <br>
          To change/delete a booking, or leave a review, please <a class="orange-text" href="{{ signup_url }}">sign up</a>
          first.{% endblocktrans %}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2 text-center">

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <p><a class="button secondaryAction orange-text mb-3"
            href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
          <button class="btn btn-signup border border-dark right" type="submit">{% trans "Sign In" %} &raquo;</button>
        </form>

      </div>
    </div>
  </div>
</section>

{% endblock %}