{% extends "base.html" %}
{% block content %}

<section id="cancellation-confirmation-section" class="margin-header">
    <div class="row">
        <div class="col-md-6 offset-md-3 pt-3 text-center">
            <h3>Cancellation Successful!</h3>
            <p class="pt-3">Your booking has been cancelled successfully.</p>
            <p>If you change your mind, you can rebook the table online (subject to availability)
                 or <a href="#" class="orange-text">contact us</a> directly.</p>
        </div>
    </div>
</section>

{% endblock content %}