{% extends "base.html" %}
{% block content %}
{% load static %}

<section id="menu-section" class="container-fluid">
    <div class="row p-3">
        <div class="col-12 bg-menu-header text-center p-3 border border-dark">
            <small>Mama's Kitchen</small>
            <h2>Dining Menu</h2>
        </div>
    </div>

    <div class="row pt-3 bg-menu-list">
        <div class="col-12 col-md-6 text-center">
            <h3><u>Starters</u></h3>
            <div class="table-responsive">
                <table class="table table-borderless align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Soup of the Day <small><em>(Changes on a daily basis)</em></small></td>
                            <td><strong>€6.00</strong></td>
                        </tr>
                        <tr>
                            <td>Bruschetta with tomato, basil and garlic</td>
                            <td><strong>€7.50</strong></td>
                        </tr>
                        <tr>
                            <td>Smoked mackerel & horseradish on baked beetroot rostis</td>
                            <td><strong>€8.00</strong></td>
                        </tr>
                        <tr>
                            <td>Spicy cajun tiger prawns</td>
                            <td><strong>€8.00</strong></td>
                        </tr>
                        <tr>
                            <td>Arancini rice balls with fresh herbs & sundried tomatoes</td>
                            <td><strong>€8.00</strong></td>
                        </tr>
                        <tr>
                            <td>Chicken wings with chilli & salt or Frank’s hot sauce</td>
                            <td><strong>€8.00</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-12 col-md-6 text-center">
            <h3><u>Main Courses</u></h3>
            <small><em>Each main course served with one side of your choice</em></small>
            <div class="table-responsive">
                <table class="table table-borderless align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Striploin steak with fresh green vegetables & garlic butter or pepper sauce</td>
                            <td><strong>€17.00</strong></td>
                        </tr>
                        <tr>
                            <td>Molasses glazed duck breast with roasted celeriac and cranberries</td>
                            <td><strong>€16.50</strong></td>
                        </tr>
                        <tr>
                            <td>Chicken enchiladas with beans, onions and peppers</td>
                            <td><strong>€16.50</strong></td>
                        </tr>
                        <tr>
                            <td>Roast chicken with fresh seasonal vegetables & gravy</td>
                            <td><strong>€16.50</strong></td>
                        </tr>
                        <tr>
                            <td>Prawn & tuna linguine</td>
                            <td><strong>€16.50</strong></td>
                        </tr>
                        <tr>
                            <td>Spicy penne arrabiata</td>
                            <td><strong>€15.00</strong></td>
                        </tr>
                        <tr>
                            <td>Butternut squash & sage risotto</td>
                            <td><strong>€15.00</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row p-3 bg-menu-list">
        <div class="col-12 col-md-6 text-center">
            <h3 class="menu-course-header"><u>Sides</u></h3>
            <small><em>One side served with each main course</em></small>
            <div class="table-responsive">
                <table class="table table-borderless align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mashed potato</td>
                            <td><strong>€4.00</strong></td>
                        </tr>
                        <tr>
                            <td>Baby roast potatoes</td>
                            <td><strong>€4.00</strong></td>
                        </tr>
                        <tr>
                            <td>Chips</td>
                            <td><strong>€4.00</strong></td>
                        </tr>
                        <tr>
                            <td>Caesar salad</td>
                            <td><strong>€4.00</strong></td>
                        </tr>
                        <tr>
                            <td>Macaroni & cheese balls</td>
                            <td><strong>€4.00</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-md-6 text-center">
            <h3 class="menu-course-header"><u>Desserts</u></h3>
            <div class="table-responsive">
                <table class="table table-borderless align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lemon meringue pie</td>
                            <td><strong>€4.50</strong></td>
                        </tr>
                        <tr>
                            <td>Warm apple crumble served with cream or ice-cream</td>
                            <td><strong>€4.50</strong></td>
                        </tr>
                        <tr>
                            <td>Warm chocolate brownie served with cream or ice-cream</td>
                            <td><strong>€4.50</strong></td>
                        </tr>
                        <tr>
                            <td>Strawberry cheesecake</td>
                            <td><strong>€4.50</strong></td>
                        </tr>
                        <tr>
                            <td>Profiteroles</td>
                            <td><strong>€4.50</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row p-3">
        <div class="col-12 bg-menu-header text-center p-3 border border-dark">
            <small>Mama's Kitchen</small>
            <h2>Drinks Menu</h2>
        </div>
    </div>

    <div class="row pt-3 bg-menu-list">
        <div class="col-12 col-md-6 text-center">
            <h3 class="menu-course-header"><u>Cold Drinks</u></h3>
            <div class="table-responsive">
                <table class="table table-borderless align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Coca-cola/Sprite/Fanta</td>
                            <td><strong>€2.00</strong></td>
                        </tr>
                        <tr>
                            <td>Still/Sparkling water</td>
                            <td><strong>€2.00</strong></td>
                        </tr>
                        <tr>
                            <td>Orange/Apple juice</td>
                            <td><strong>€1.50</strong></td>
                        </tr>
                        <tr>
                            <td>Iced tea/coffee</td>
                            <td><strong>€2.50</strong></td>
                        </tr>
                        <tr>
                            <td>Non-alcoholic beer</td>
                            <td><strong>€3.50</strong></td>
                        </tr>
                        <tr>
                            <td>Ginger ale</td>
                            <td><strong>€2.00</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-12 col-md-6 text-center">
            <h3 class="menu-course-header"><u>Hot Drinks</u></h3>
            <div class="table-responsive">
                <table class="table table-borderless align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Barry's Tea</td>
                            <td><strong>€2.00</strong></td>
                        </tr>
                        <tr>
                            <td>Americano</td>
                            <td><strong>€2.00</strong></td>
                        </tr>
                        <tr>
                            <td>Cappuccino</td>
                            <td><strong>€2.50</strong></td>
                        </tr>
                        <tr>
                            <td>Latte</td>
                            <td><strong>€2.50</strong></td>
                        </tr>
                        <tr>
                            <td>Hot chocolate</td>
                            <td><strong>€2.50</strong></td>
                        </tr>
                        <tr>
                            <td>Herbal teas</td>
                            <td><strong>€2.00</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row pt-3 bg-menu-list">
        <div class="col-12 col-md-4 text-center">
            <h3 class="menu-course-header"><u>Beer & Spirits</u></h3>
            <div class="table-responsive">
                <table class="table table-borderless align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Guinness</td>
                            <td><strong>€4.00</strong></td>
                        </tr>
                        <tr>
                            <td>Heineken/Budweiser</td>
                            <td><strong>€5.00</strong></td>
                        </tr>
                        <tr>
                            <td>Bulmers <small><em>(draught)</em></small></td>
                            <td><strong>€5.00</strong></td>
                        </tr>
                        <tr>
                            <td>Birra Moretti</td>
                            <td><strong>€5.50</strong></td>
                        </tr>
                        <tr>
                            <td>Gordons/Bombay gin</td>
                            <td><strong>€4.50</strong></td>
                        </tr>
                        <tr>
                            <td>Jameson/Jack Daniels</td>
                            <td><strong>€4.50</strong></td>
                        </tr>
                        <tr>
                            <td>Smirnoff</td>
                            <td><strong>€4.50</strong></td>
                        </tr>
                        <tr>
                            <td>Bacardi</td>
                            <td><strong>€4.50</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-12 col-md-4 text-center">
            <h3 class="menu-course-header"><u>Cocktails</u></h3>
            <div class="table-responsive">
                <table class="table table-borderless align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Strawberry daiquiri</td>
                            <td><strong>€6.00</strong></td>
                        </tr>
                        <tr>
                            <td>Classic mojito</td>
                            <td><strong>€6.00</strong></td>
                        </tr>
                        <tr>
                            <td>Old fashioned</td>
                            <td><strong>€6.00</strong></td>
                        </tr>
                        <tr>
                            <td>Espresso Martini</td>
                            <td><strong>€6.00</strong></td>
                        </tr>
                        <tr>
                            <td>Margarita</td>
                            <td><strong>€6.00</strong></td>
                        </tr>
                        <tr>
                            <td>Long island iced tea</td>
                            <td><strong>€6.00</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-12 col-md-4 text-center">
            <h3><u>Wines</u></h3>
            <small><em>Prices per glass/bottle</em></small>
            <div class="table-responsive">
                <table class="table table-borderless align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sauvignon blanc</td>
                            <td><strong>€5.50/€16.00</strong></td>
                        </tr>
                        <tr>
                            <td>Pinot Grigio</td>
                            <td><strong>€5.50/€17.00</strong></td>
                        </tr>
                        <tr>
                            <td>Chardonnay</td>
                            <td><strong>€5.50/€16.00</strong></td>
                        </tr>
                        <tr>
                            <td>Pinot Noir</td>
                            <td><strong>€5.50/€16.00</strong></td>
                        </tr>
                        <tr>
                            <td>Merlot</td>
                            <td><strong>€5.50/€17.00</strong></td>
                        </tr>
                        <tr>
                            <td>Shiraz</td>
                            <td><strong>€5.50/€16.00</strong></td>
                        </tr>
                        <tr>
                            <td>Malbec</td>
                            <td><strong>€5.50/€17.00</strong></td>
                        </tr>
                        <tr>
                            <td>Rose</td>
                            <td><strong>€5.50/€17.00</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-10 col-md-8 offset-1 offset-md-2 text-center pt-3">
            <p>Menus available for download: <a href="{% static 'menu/dining-menu.pdf' %}" target="_blank"
                    class="orange-text">Dining Menu</a> & <a href="{% static 'menu/drinks-menu.pdf' %}" target="_blank"
                    class="orange-text">Drinks Menu</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center margin-bottom">
            <small><em>Contact us or speak to one of our servers for allergen information or special
                    requests</em></small>
        </div>
    </div>

</section>

{% endblock %}