{% extends "base.html" %}
{% block content %}

<section id="privacy-section" class="container-fluid p-3">
    <div class="row p-3">
        <div class="col-12 text-center">
            <h2>Mama's Kitchen Privacy Policy</h2>
        </div>
        <div class="col-12 p-3">
            <p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit or
            make a booking on <strong>Mama's Kitchen</strong> website.</p> 

            <h3>Personal information we collect</h3>
            <p>When you visit the website, we do not collect any information about your device, including
            information about your web browser, IP address, time zone, or any cookies that are installed on your device.</p>

            <p>When you make a booking, we collect personal information such as your name, email address and phone number.</p>

            <h3>How do we use your personal information?</h3>
            <p>This information is used solely for the purposes of the booking as we may need to contact you if 
                certain circumstances arise, such as unforeseen closure of the restaurant or cancellation of 
                your booking.
            </p>
            
            <p>Your personal information is never used for marketing purposes, or shared with third-parties.</p>

            <h3>Your rights</h3>
            <p>If you are a European resident, you have the right to access personal information we hold about you and to
            ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please
            contact us through the contact information below.</p>

            <h3>Data retention</h3>
            <p>When you place an order through the Site, we will maintain your Order Information for our records unless and
            until you ask us to delete this information.</p>

            <h3>Changes</h3>
            <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our
            practices or for other operational, legal or regulatory reasons.</p>

            <h3>Contact us</h3>
            <p>For more information about our privacy practices, if you have questions, or if you would like to make a
            complaint, please contact us by e‑mail at info@mamaskitchen.com, or via the <a href="{% url 'contact' %}" class="orange-text">contact form</a>.</p>
        </div>
    </div>
</section>


{% endblock %}