{% extends "base.html" %}
{% block content %}

<section id="thankyou-section" class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3 pt-3 text-center">
            <h3>Thanks for booking!</h3>
            <p class="pt-3">You will receive an email shortly confirming receipt of your booking.</p>
            <p>If you don't receive the email in the next 30 minutes, please <a href="#" class="orange-text">contact us</a> directly.</p>
        </div>
    </div>
</section>

{% endblock content %}